h1{
    align-items: center;
    color: black;
    text-decoration-thickness: 10px;
    text-shadow: 2px 2px 5px red;
    font-family: "Gill Sans Extrabold", sans-serif;
    margin-top: 20%;
    font-size: 80px;
    padding-left: 35%;
   
}
body{
    background-color: palevioletred;
    background-image: url("https://i.pinimg.com/originals/57/d6/20/57d620e801b4706bac92529137d4ee0e.jpg");
}
button{
    margin-left: 45%;
    background-color: green;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
}